<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz App</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <div home-container>
            <div class="logout">
                <a href="/login">logout</a>
            </div>

            <div>
                <img src="includes/images/quiz.png" alt="profile picture">
            </div>

            <div class="data">
                <h1><%= quiz.name%></h1>
                <h4><%= quiz.date%></h4>
            </div>
            <% if(!quiz.isPublished){ %>
            <div class="addQ">
                <img src="includes/images/add.png" alt="add question">
            </div>

            <div>
                <button class="rounded" id="publish">publish</button>
            </div>
            <% } %>
            <div id="questions"></div>
        </div>
    </div>

    <div id="queModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <input type="text" name="question" id="que" placeholder="question">
                <div class="addAnswer">
                    <img src="includes/images/add.png" width="25" height="25" alt="add answer">
                </div>
                <div id="answers"></div>
                <textarea name="explanation" id="explanation" rows="5" placeholder="Enter an Explanation for the answer..."></textarea>
            </div>
            <div class="modal-footer">
                <input type="button" value="add question" id="addQue">
            </div>
        </div>
    </div>

    <script src="js/quizView.js"></script>
    <script>
        const ques = <%- JSON.stringify(quiz.questions) %>;
        const isPublished = <%- JSON.stringify(quiz.isPublished) %>;
        const quizId = <%- JSON.stringify(quiz._id) %>;
        const token = <%- JSON.stringify(token) %>
        ques.forEach(addQueToUI);
    </script>

</body>
</html>